<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/simple.css">
    <title>Main</title>
</head>
<body> 
	<form action="/" method="post">
	<% for (answer of answers) { %>
		<article>
			<p class="todo"><%= answer.id %>. <%= answer.question %></p>
			<% if (answer.image != null) { %>
				<img alt=<%= answer.alt %> src=<%= answer.image %> />
			<% } %>
				<label><input type="text" name=<%= answer.id %>></label>
		</article>
	<% } %>
<button>Send</button>
</form>
</body>
</html>